<div class="fixed ml-[200px] bg-black">
    <input type="text" placeholder="Search songs, albums, artists, podcasts" 
    class="px-9 py-2  placeholder: font-sans text-gray-700  bg-white rounded-lg ml-[160px] mt-[25px] w-[530px]">
    <button class="ml-[-520px] " ><i class="fa-solid fa-magnifying-glass" style="color: #a3a6ad;"></i></button>
    <i class="fa-solid fa-ellipsis-vertical fa-lg ml-[680px]" style="color: #fbfbfb;"></i>
    <app-button [style]="'h-9 w-[80px] bg-white rounded-full ml-4' "[title]="'Sign in'"></app-button>
    <div class="mt-[70px] ml-[140px] flex items-center pl-1 gap-2">
<div>
