<div class=" overflow-hidden mt-6 w-36 h-[290px] pl-4 ml-[-12px]">
    <img class="w-36 h-36 rounded border" src="{{image}}" alt="image">
    <div class="relative bottom-32 left-24 rounded-full w-10 h-10 flex items-center justify-center hover:bg-[#ffffff60]">
        <i class="fa-solid fa-ellipsis-vertical text-lg"></i>
    </div>
    <div class="bg-[#00000077] relative bottom-24 left-20 rounded-full w-8 h-8 flex items-center justify-center hover:w-8 hover:h-8 hover:bg-white duration-300 ease-in">
        <i class="fa-solid fa-play"></i>
    </div>
    <p class="text-lg text-white font-medium">{{songName}}</p>
    <p class="text-sm text-[#B3B3B3]">{{songDesc}}</p>
    <p class="text-sm text-white">{{songView}}</p>
</div>


