<div class=" overflow-hidden mt-6 w-36 h-[290px] pl-6 ml-[-12px]">
    <div>
    <img class="w-36 h-36 rounded border" src="{{image}}" alt="image">
    <div class=" relative bottom-32 left-[78px] rounded-full w-10 h-10 flex items-center justify-center hover:bg-[#ffffff60]">
        <i class="fa-solid fa-ellipsis-vertical text-white text-lg"></i>
    </div>
    <div class="bg-[#00000077] relative bottom-24 left-[78px] rounded-full w-[35px] h-[35px] flex items-center justify-center hover:w-[35.5px] hover:h-[35.5px] hover:bg-black duration-300 ease-in">
        <i class="fa-solid fa-play text-white"></i>
    </div>
    </div>
    <p class="text-lg text-white font-medium">{{songName}}</p>
    <p class="text-sm text-[#B3B3B3]">{{songDesc}}</p>
    <p class="text-sm text-white">{{songView}}</p>
</div>


