<div class="mt-20 ">
    <div *ngIf="secTitle">
        <p class="text-[#AAAAAA] text-sm">{{secTitle}}</p>
    </div>
        <div class="flex items-center">
            <p *ngIf="mainTitle" class="text-white text-2xl font-bold">{{mainTitle}}</p>
                <div class="flex items-center gap-4">
                    <app-button *ngIf="buttonTitle" [title]="buttonTitle" [style]="'text-white border border-[#353535] pl-2 pr-2 pt-1 pb-1 rounded-full hover:bg-[#353535] text-sm'"></app-button>
                    <div class="{{addClass}}  w-8 h-8 border border-[#353535] rounded-full flex items-center justify-center hover:bg-[#353535]">
                        <i class="fa-solid fa-angle-left text-white"></i>
                    </div>
                    <div class=" w-8 h-8 border border-[#353535] rounded-full flex items-center justify-center hover:bg-[#353535]">
                        <i class="fa-solid fa-angle-right text-white"></i>
                    </div>
                </div>
        </div> 
<div class="mb-38 w-[790px]  overflow-auto flex {{scrollClass}}">
    <ng-content></ng-content>
</div>
</div>
