    <div class="fixed border-r w-[240px] h-[100vh] border-[#292929]">
        <div class="main flex items-start mt-9">
        <i class="fa-solid fa-bars fa-lg ml-[28px]" style="color: #ffffff;"></i>
        <img class="mt-[-12px] ml-[32px] w-8" [src]="Sidebar.img">
        <span class="mt-[-12px] text-white font-bold text-2xl">Music</span>
        </div>
        <app-button [icon]="'fa-solid fa-house text-white fa-lg'" [style]="' text-white font-bold mt-[40px]  text-lg  flex items-center pl-6 gap-9'" [title]="'Home'"> </app-button>
        <app-button [icon]="'fa-regular fa-compass text-white fa-lg '" [style]="'text-white font-bold mt-[20px]  text-lg flex items-center pl-6 gap-9'" [title]="'Explore'"></app-button>
        <app-button [icon]="'fa-regular fa-file-audio text-white fa-lg'" [style]="'text-white font-bold mt-[20px]  text-lg flex items-center pl-7 gap-10'" [title]="'Library'"></app-button>
        <hr class=" mt-12 ml-[29px] w-[180px] border-[#292929]">
        <app-button [style]="'h-9 w-[180px] bg-[#1d1d1d] rounded-full ml-6 mt-[22px] text-white text-sm font-semibold hover:bg-[#292929]'"[title]="'Sign in'"></app-button>
        <p class="text-[#a3a6aa] text-xs mt-3 w-[199px] ml-[22px]">Sign in to create & share playlists, get personalized recommendations, and more.</p>
    </div> 
